{
  "credentials" : {
      "email": "your@email.com",
      "token": "your_token"
  },
  "domains" : [
    {
      "name": "yourdomain.com",
      "record-type": "A"
    },
    {
      "name": "anotherdomain.com",
      "record-type": "A"
    }
  ]
}
